In [1]:
import requests
from bs4 import BeautifulSoup

In [10]:
experience_level = jobs[0].find_all("div", class_ = 'css-1lh32fc')[0].next_sibling.text.split(" · ")[0]
experience_level

'Experienced'

In [2]:
request = requests.get("https://wuzzuf.net/search/jobs/?a=navbl&q=&start=1")
request

In [3]:
content = request.content

In [4]:
soup = BeautifulSoup(content, "html.parser")

In [5]:
jobs = soup.find_all("div", class_ = "css-1gatmva e1v1l3u10")

In [6]:
job_name = jobs[1].find_all('h2', class_ = "css-m604qf")[0].text
job_name

'Front Desk Specialist'

In [7]:
company_name = jobs[0].find_all('div', class_ = 'css-d7j1kk')[0].text.split(" - ")[0]
company_name

'Hi-Q Academy'

In [8]:
location = jobs[0].find_all("span", class_ = 'css-5wys0k')[0].text.split(", ")[0]
location

'Nasr City'

In [9]:
job_type = jobs[0].find_all('span', class_ = "css-1ve4b75 eoyjyou0")[0].text
job_type

'Part Time'

In [11]:
experience_years = jobs[0].find_all("div", class_ = 'css-1lh32fc')[0].next_sibling.text.split(" · ")[1]
experience_years

'2 - 4 Yrs of Exp'

In [12]:
skills = " ".join(jobs[0].find_all("div", class_ = 'css-1lh32fc')[0].next_sibling.text.split(" · ")[2:])
skills

'Education/Teaching English Education English Instructor Teaching Nasrcity Instructor'

In [13]:
import pandas as pd

In [14]:
df = pd.DataFrame(columns = ["job_title", "company_name", "location", "job_type",
                             "experience_level", "experience_years", "skills"])
df

Empty DataFrame
Columns: [job_title, company_name, location, job_type, experience_level, experience_years, skills]
Index: []

In [15]:
for job in jobs: 
    job_name = job.find_all('h2', class_ = "css-m604qf")[0].text
    company_name = job.find_all('div', class_ = 'css-d7j1kk')[0].text.split(" - ")[0]
    location = job.find_all("span", class_ = 'css-5wys0k')[0].text.split(", ")[0]
    job_type = job.find_all('span', class_ = "css-1ve4b75 eoyjyou0")[0].text
    experience_level = job.find_all("div", class_ = 'css-1lh32fc')[0].next_sibling.text.split(" · ")[0]
    experience_years = job.find_all("div", class_ = 'css-1lh32fc')[0].next_sibling.text.split(" · ")[1]
    skills = " ".join(job.find_all("div", class_ = 'css-1lh32fc')[0].next_sibling.text.split(" · ")[2:])
    
    df.loc[len(df.index)] = [job_name, company_name, location, job_type, experience_level, experience_years, skills]

In [16]:
for i in range(200): 
    request = requests.get(f"https://wuzzuf.net/search/jobs/?a=navbl&q=&start={1}")
    content = request.content
    soup = BeautifulSoup(content, "html.parser")
    jobs = soup.find_all("div", class_ = "css-1gatmva e1v1l3u10")
    for job in jobs: 
        job_name = job.find_all('h2', class_ = "css-m604qf")[0].text
        company_name = job.find_all('div', class_ = 'css-d7j1kk')[0].text.split(" - ")[0]
        location = job.find_all("span", class_ = 'css-5wys0k')[0].text.split(", ")[0]
        job_type = job.find_all('span', class_ = "css-1ve4b75 eoyjyou0")[0].text
        experience_level = job.find_all("div", class_ = 'css-1lh32fc')[0].next_sibling.text.split(" · ")[0]
        experience_years = job.find_all("div", class_ = 'css-1lh32fc')[0].next_sibling.text.split(" · ")[1]
        skills = " ".join(job.find_all("div", class_ = 'css-1lh32fc')[0].next_sibling.text.split(" · ")[2:])

        df.loc[len(df.index)] = [job_name, company_name, location, job_type, experience_level, experience_years, skills]

In [19]:
df

,job_title,company_name,location,job_type,experience_level,experience_years,skills
0,Onsite English Instructor,Hi-Q Academy,Nasr City,Part Time,Experienced,2 - 4 Yrs of Exp,Education/Teaching English Education English I...
1,Front Desk Specialist,Shiny White Dental Center,Sheikh Zayed,Full Time,Entry Level,0 - 4 Yrs of Exp,females_only Administration Administration Com...
2,Property Advisor,Mezyan Development,New Cairo,Full Time,Experienced,1 - 2 Yrs of Exp,Sales/Retail Real Estate Sales Sales Consulting
3,E-commerce Marketplace Manager,Carina Wear,New Cairo,Full Time,Manager,7 - 10 Yrs of Exp,Operations/Management Marketing/PR/Advertising...
4,Backend Developer,intella,Dokki,Full Time,Experienced,3 - 5 Yrs of Exp,IT/Software Development Engineering - Telecom/...
...,...,...,...,...,...,...,...
3010,Treasurer,Egypt Gold,Azarita,Full Time,Experienced,3 - 7 Yrs of Exp,Accounting/Finance Accounting Commerce Finance...
3011,Social Media Coordinator,Deutschland Technology Limited,Obour City,Full Time,Experienced,1 - 2 Yrs of Exp,Marketing/PR/Advertising Communication skills ...
3012,Global Crowd-Sourcing Specialist,LxT,Agouza,Full Time,Experienced,3 - 5 Yrs of Exp,Project/Program Management Mass Hiring Sourcin...
3013,Senior Testing Automation Engineer,LxT,Agouza,Full Time,Experienced,3 - 5 Yrs of Exp,IT/Software Development Software Development S...
3014,Senior Backend Engineer,LxT,Agouza,Full Time,Experienced,3 - 5 Yrs of Exp,IT/Software Development Software Development P...

In [20]:
df.to_csv("Wuzzuf.csv")